<nav class="navbar navbar-light bg-light">
    <section class="container">
        <a class="navbar-brand" href="#">CS316</a>
        <a class="nav-item" href="/user/login">Login</a>
        <a class="nav-item" href="/user/new">Sign Up</a>
        <a class="nav-item" href="/user/login">Account</a>
    </section>
</nav>