<div class="container">
  <div class="row>">
    <div class="col mt-5">
      <form class="form-container" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required />
          </div>
          <div class="form-group col-md-6">
            <label for="verified_password">Password</label>
            <input type="password" class="form-control" id="verified_password" name="verified_password" required />
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" name="phone" placeholder="555-555-5555">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
</div>